@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: inherit; }

:root {
  --fuente-poppins: "Poppins", sans-serif;
  --fuente-inter: "Inter", sans-serif;
  --fuente-anonymus: "Anonymous Pro", monospace;
  --fuente-epilogue: "Epilogue", sans-serif;
  --color-green: #c7ff00;
  --marquee-width: 80vw;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */
  /* defined with JavaScript */
  --marquee-elements-displayed: 1;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 8s); }

main {
  overflow: hidden;
  padding-top: 83px; }

.container {
  width: 85%;
  max-width: 1580px;
  margin: 0 auto; }

header {
  padding: 28px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #000; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav .logo a {
    text-decoration: none;
    font-family: var(--fuente-poppins);
    font-size: 22px;
    line-height: 26px;
    color: #fff;
    display: flex;
    align-items: center;
    width: 200px; }
    nav .logo a img {
      padding-right: 15px; }
  nav .navigation ul {
    display: flex;
    text-align: center; }
    nav .navigation ul li {
      list-style: none;
      padding: 0 14px; }
      nav .navigation ul li a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-family: var(--fuente-poppins);
        letter-spacing: 2px;
        font-weight: 700;
        line-height: 27px; }
    nav .navigation ul li.idioma a.es {
      margin-right: 10px; }
    nav .navigation ul li.idioma a.en {
      opacity: 0.5; }
    nav .navigation ul li.menuPortafolio a {
      position: relative; }
    nav .navigation ul li.menuPortafolio a::before {
      content: "Checa nuestro";
      font-family: var(--fuente-anonymus);
      font-size: 10px;
      font-weight: 400;
      line-height: 24px;
      position: absolute;
      top: -15px;
      letter-spacing: normal; }
  nav a.btn {
    color: white;
    padding: 16px 58px;
    border: 1px solid #c7ff00;
    border-radius: 10px;
    font-family: var(--fuente-inter);
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s linear;
    cursor: pointer; }
    nav a.btn:hover {
      background-color: var(--color-green);
      color: #000; }

/*HOME*/
.home {
  height: calc(100vh - 83px);
  background-color: #000;
  display: flex;
  align-items: center; }
  .home .content {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    transform: translateY(-31px);
    position: relative; }
    .home .content .imgHome {
      display: none;
      animation: mostrar 0.8s ease;
      animation-fill-mode: forwards !important; }
    .home .content .imgHome1 {
      position: absolute;
      left: 0;
      top: -20px; }
    .home .content .imgHome2 {
      position: absolute;
      bottom: -151px;
      left: 205px; }
    .home .content .imgHome3 {
      position: absolute;
      bottom: -151px;
      right: 138px; }
    .home .content .imgHome4 {
      position: absolute;
      right: 0;
      top: -81px; }

@keyframes mostrar {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes desaparecer {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none; } }
    .home .content h1 {
      font-size: 64px;
      line-height: 85px;
      font-weight: 700;
      font-family: var(--fuente-poppins);
      color: white;
      width: 1144px;
      padding-bottom: 20px;
      cursor: default; }
      .home .content h1 span {
        background-color: var(--color-green);
        color: #000;
        height: 54px !important;
        padding: 0 15px;
        cursor: default; }
    .home .content p {
      font-size: 24px;
      line-height: 36px;
      font-family: var(--fuente-inter);
      font-weight: 400;
      color: white;
      cursor: default; }
    .home .content a.noClick {
      border: 2px solid var(--color-green);
      border-radius: 50%;
      padding: 30px 22px;
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      font-family: var(--fuente-poppins);
      letter-spacing: 2px;
      margin-top: 36px;
      line-height: 17.5px;
      transition: all 0.2s linear; }
      .home .content a.noClick:hover {
        background-color: var(--color-green);
        color: #000; }
  .home img.flecha {
    position: absolute;
    bottom: 54px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    animation-name: up-down;
    animation-duration: 3s;
    animation-iteration-count: infinite; }

@keyframes up-down {
  0% {
    transform: translate(-50%, 0); }
  50% {
    transform: translate(-50%, -50px); }
  100% {
    transform: translate(-50%, 0); } }

.marketers {
  padding: 85px 0px; }
  .marketers .container.containermarketers {
    width: 72%;
    max-width: 1580px;
    margin: 0 auto; }
    .marketers .container.containermarketers h2 {
      font-family: var(--fuente-anonymus);
      font-weight: 700;
      font-size: 46px; }
    .marketers .container.containermarketers .content {
      padding-bottom: 50px;
      display: flex;
      align-items: flex-start; }
      .marketers .container.containermarketers .content .part1 {
        width: 55%; }
        .marketers .container.containermarketers .content .part1 p {
          font-family: var(--fuente-inter);
          font-weight: 400;
          font-size: 18px;
          padding-top: 25px;
          margin-bottom: 28px; }
      .marketers .container.containermarketers .content .part2 {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: flex-end; }
  .marketers .marquee {
    overflow: hidden;
    position: relative;
    transform: rotate(-0.5deg); }
  .marketers .marquee-content {
    font-family: var(--fuente-poppins);
    font-weight: 700;
    font-size: 135px;
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite; }
    .marketers .marquee-content li {
      white-space: nowrap;
      margin: 0 10px;
      color: #000; }
  .marketers .marquee-content2 li {
    color: #fff;
    text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000, 2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, 2px 0 0 #000; }

@keyframes scrolling {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); } }

section.portfolio {
  padding: 85px 0;
  background-color: #000;
  color: #fff; }
  section.portfolio .title {
    text-align: center; }
    section.portfolio .title h2 {
      font-family: var(--fuente-poppins);
      font-weight: 700;
      font-size: 60px; }
    section.portfolio .title p {
      font-family: var(--fuente-inter);
      font-weight: 400;
      font-size: 20px; }
  section.portfolio .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 367px; }
    section.portfolio .items .item:nth-child(even) {
      transform: translateY(23.5vw); }
    section.portfolio .items .item {
      background-color: #fff;
      color: #000;
      width: 45%;
      border-radius: 10px 10px 0 0;
      margin-bottom: 183px; }
      section.portfolio .items .item .img {
        display: flex;
        justify-content: center;
        padding: 65px 51px; }
        section.portfolio .items .item .img img {
          width: 100%;
          box-shadow: 0px 5.47413px 12px 7px rgba(0, 0, 0, 0.1);
          border-radius: 5px; }
      section.portfolio .items .item .info {
        padding: 18px 27px;
        border-top: 1px solid #000; }
        section.portfolio .items .item .info p {
          font-family: var(--fuente-inter);
          font-weight: 500;
          font-size: 14px; }
        section.portfolio .items .item .info h3 {
          font-family: var(--fuente-inter);
          font-weight: 700;
          font-size: 30px; }

section.services {
  padding: 80px 0; }
  section.services .title {
    text-align: center; }
    section.services .title h2 {
      font-family: var(--fuente-poppins);
      font-weight: 700;
      font-size: 60px;
      padding-bottom: 35px; }
  section.services .items-services .item-services {
    padding: 65px 0;
    display: flex;
    border-top: 1px dashed #000; }
    section.services .items-services .item-services .img-services {
      width: 16.6%; }
    section.services .items-services .item-services .title-services {
      width: 33.3%; }
      section.services .items-services .item-services .title-services h3 {
        font-family: var(--fuente-epilogue);
        font-weight: 900;
        font-size: 50px;
        width: 70%; }
    section.services .items-services .item-services .info-services {
      width: 49.8%; }
      section.services .items-services .item-services .info-services p {
        font-family: var(--fuente-inter);
        font-weight: 400;
        font-size: 24px;
        line-height: 36px; }
      section.services .items-services .item-services .info-services .lista {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 40px; }
        section.services .items-services .item-services .info-services .lista ul {
          padding-left: 23px;
          width: 282px; }
          section.services .items-services .item-services .info-services .lista ul li {
            font-family: var(--fuente-inter);
            font-style: italic;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px; }

section.contact {
  padding: 85px 0;
  background-color: #000;
  color: #fff;
  /* reset */ }
  section.contact h2 {
    font-family: var(--fuente-poppins);
    font-weight: 700;
    font-size: 60px;
    text-align: center; }
  section.contact p {
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 20px;
    text-align: center; }
    section.contact p span {
      font-weight: 700; }
  section.contact form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  section.contact input[type="number"]::-webkit-inner-spin-button,
  section.contact input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  section.contact input[type="number"] {
    -moz-appearance: textfield; }
  section.contact #fs-frm fieldset {
    display: flex;
    flex-direction: column;
    align-items: center; }
  section.contact #fs-frm select,
  section.contact #fs-frm input,
  section.contact #fs-frm fieldset,
  section.contact #fs-frm textarea,
  section.contact #fs-frm #card-element:disabled {
    font-family: inherit;
    font-size: 100%;
    color: var(--color-amarillo);
    border: none;
    border-radius: 0;
    /* display: block; */
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none; }
  section.contact #fs-frm legend,
  section.contact #fs-frm ::placeholder {
    font-size: 20px;
    padding-top: 0.2rem;
    display: flex;
    align-items: center;
    color: var(--color-amarillo);
    padding-bottom: 7px;
    position: relative; }
  section.contact #fs-frm ::placeholder {
    opacity: 0.6; }
  section.contact .form {
    display: flex;
    justify-content: center;
    padding-top: 70px; }
  section.contact form {
    width: 983px; }
  section.contact #fs-frm [type="text"],
  section.contact #fs-frm [type="number"],
  section.contact #fs-frm [type="email"],
  section.contact #fs-frm textarea {
    background-color: #fff;
    color: #000;
    margin-bottom: 39px;
    font-family: var(--fuente-inter);
    font-weight: 700;
    font-size: 20px;
    line-height: 56px;
    padding: 0 39px;
    height: 69px;
    padding-top: 8px;
    box-sizing: border-box; }
    section.contact #fs-frm [type="text"]:focus,
    section.contact #fs-frm [type="number"]:focus,
    section.contact #fs-frm [type="email"]:focus,
    section.contact #fs-frm textarea:focus {
      border: none !important;
      outline-offset: 0 !important;
      outline: 0; }
  section.contact #fs-frm textarea {
    height: 151px;
    margin-bottom: 60px;
    line-height: inherit;
    padding-top: 24px; }
  section.contact #fs-frm [type="submit"] {
    background-color: var(--color-amarillo);
    width: 200px;
    height: 50px;
    font-family: var(--fuente-inter);
    font-weight: 500;
    font-size: 26px;
    line-height: 38px;
    color: var(--color-shadow);
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid var(--color-green); }
  section.contact .form-group {
    width: 100%;
    position: relative; }
    section.contact .form-group .form-label {
      position: absolute;
      left: 30px;
      top: 24px;
      color: #000;
      font-family: var(--fuente-inter);
      font-size: 18px;
      font-weight: 700;
      cursor: text;
      transition: 0.1s linear;
      opacity: 0.4; }
    section.contact .form-group .form-input:focus ~ label,
    section.contact .form-group .form-input:valid ~ label {
      font-size: 14px;
      left: 20px;
      top: 7px; }
  section.contact #fs-frm [type="text"].falto,
  section.contact #fs-frm [type="number"].falto,
  section.contact #fs-frm [type="email"].falto,
  section.contact #fs-frm textarea.falto {
    border: 3px solid #e11f4b !important; }
    section.contact #fs-frm [type="text"].falto ~ label,
    section.contact #fs-frm [type="number"].falto ~ label,
    section.contact #fs-frm [type="email"].falto ~ label,
    section.contact #fs-frm textarea.falto ~ label {
      color: #e11f4b; }

footer .cards {
  display: flex; }
  footer .cards .card {
    padding: 42px 0;
    width: 33.3%;
    border: 0.5px solid #000;
    text-align: center; }
    footer .cards .card a {
      text-decoration: none;
      text-align: center;
      font-family: var(--fuente-inter);
      font-weight: 600;
      font-size: 30px;
      color: #000; }

footer .pie {
  background-color: #000;
  color: #fff;
  font-family: var(--fuente-anonymus);
  font-style: italic;
  font-weight: 700;
  font-size: 16.8px;
  padding: 10px 0;
  text-align: center; }
